@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Google Sans', sans-serif;
    background: linear-gradient(135deg, #0d0d0d 25%, #1a2e1e 50%, #1a271d 75%, #243320 100%);
    color: #ffffff;
    transition: background 0.5s ease;
    overflow-x: hidden;
    animation: backgroundFade 15s infinite;

}

@keyframes backgroundFade {
    0% {
        background: linear-gradient(135deg, #0d0d0d 25%, #1a2e1e 50%, #1a271d 75%, #243320 100%);
        background-size: 100% 100%;
        background-position: center center;
    }
    25%{
        background: linear-gradient(135deg, #0d0d0d 25%, #1a2e1e 50%, #1a271d 75%, #243320 100%);
        background-size: 120% 120%;
        background-position: left center;
    }
    50% {
        background: linear-gradient(135deg, #0d0d0d 25%, #1a2e1e 50%, #1a271d 75%, #243320 100%);
        background-size: 150% 150%;
        background-position: right center;
    }
    75% {
        background: linear-gradient(135deg, #0d0d0d 25%, #1a2e1e 50%, #1a271d 75%, #243320 100%);
        background-size: 200% 100%;
        background-position: right center;
    }
    100% {
        background: linear-gradient(135deg, #0d0d0d 25%, #1a2e1e 50%, #1a271d 75%, #243320 100%);
        background-size: 100% 100%;
        background-position: center center;
    }
}

header {
    background-color: rgba(20, 20, 20, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e0e0e0;
    padding: 1rem 2rem;
    text-align: center;
    border-bottom: 0px solid #093d1505;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.445);
    transition: color 0.5s ease, box-shadow 0.5s ease;
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: boxShadowFade 2s infinite alternate;
}

@keyframes boxShadowFade {
    0% {
        box-shadow: 0 10px 20px rgba(2, 78, 15, 0.445);
    }
    50% {
        box-shadow: 0 10px 20px rgba(1, 109, 19, 0.445);
    }
    100% {
        box-shadow: 0 10px 20px rgba(0, 121, 37, 0.445);
    }
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #e0e0e0;
    transition: color 0.5s ease;
}

.back-button {
    padding: 0.5rem 1rem;
    color: #f1f1f1ce;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    background-color: #44444400;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.5s ease;
}

.back-button:hover {
    background-color: #666;
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    animation: fadeIn 1s ease-in-out;
}

.config-info {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.cover-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 2rem;
    border-radius: 12px;
    border: 1px solid #444;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background-color: rgba(20, 20, 20, 0.9);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cover-image:hover {
    background-color: #444;
    transform: scale(1.05);
}

.details {
    max-width: 500px;
}

.details h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #e0e0e0;
    transition: color 0.5s ease;
}

.details p {
    margin: 0.5rem 0;
    color: #b0b0b0;
    transition: color 0.5s ease;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details ul li {
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: inline-block;
    border-radius: 8px;
    color: #e0e0e0;
    border: 1px solid #444;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background-color: rgba(20, 20, 20, 0.9);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.details ul li:hover {
    background-color: #444;
    transform: scale(1.05);
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.screenshots img {
    width: 356px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #444;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.screenshots img:hover {
    transform: scale(1.05);
}

.download-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: none;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background-color: #444;
    border-radius: 8px;
    color: #e0e0e0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-button:hover {
    background-color: #666;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
